.linechart {
  height: 263px;
	width: 258px;
}
.LineChartDuration {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0;
  padding: 0;
   background-color: #FF0000;
  &_text {
    opacity: 0.6;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
  }
}

.linechartTooltip {
  width: 39px;
  height: 25px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
  padding: 10px 15px;
  background-color: white;
  border: none;
}