.radialchart {
    height: 263px;
	width: 258px;
}
.radial-bar-chat-score {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FBFBFB;
    &_text {
        font-size: 18px;
        line-height: 24px;
        color: #20253A;
    }
}

.score-legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
    &_percentage {
        font-size: 30px;
        color: #282D30;
        font-weight: 700;
        line-height: 26px;
        margin: 10px;
    }
    &_text {
        font-size: 24px;
        color: #74798C;
        font-weight: 500;
        line-height: 26px;
        margin: 10px;
    }
}