.greeting {
    &_title {
        font-size: 48px;
        line-height: 24px;
        font-weight: 600;
        &_name {
            color: #FF0101;
        }
    }
    &_congrats {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
}