.barchart {
    width: 835px;
    height: 320px;
}

.barChartActivity {
    background-color: #FBFBFB;
    padding-top: 40px;
}
.barchartTooltip {
    background-color: #E60000;
    padding: 15px;
    width: 39px;
    height: 63px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
}
@media screen and (max-width: 1500px){
    .barChartActivity {
        aspect-ratio: 1;
    }
}