.MainContent {
grid-area: main;
margin-left: 9%;
padding: 20px;
display: grid;
gap: 2%;
grid-template-columns: 2.5fr 2.5fr 2.5fr 1fr;
grid-template-rows: .5fr 1fr 1fr;
grid-template-areas: "greetings greetings greetings greetings"
"barchart barchart barchart composition"
"linechart radarchart radialchart composition";
}

.test {
    display: flex;
}

.greetings {
    grid-area: greetings;
}
.barchart {
    grid-area: barchart;
}
.linechart {
    grid-area: linechart;
}
.radarchart {
    grid-area: radarchart;
}
.radialchart{
    grid-area: radialchart;
}
.composition{
    grid-area: composition;
}
