.MainContent {
grid-area: main;
   padding: 20px;
   margin-bottom: 100px;
display: grid;
gap: 2%;
grid-template-columns: repeat(4, 3fr);
grid-template-rows: 4fr 4fr 4fr;
grid-template-areas: "greetings greetings greetings greetings"
"barchart barchart barchart composition"
"linechart radarchart radialchart composition";
}

.test {
    display: flex;
}

.greetings {
    grid-area: greetings;
}
.barchart {
    grid-area: barchart;
}
.linechart {
    grid-area: linechart;
}
.radarchart {
    grid-area: radarchart;
}
.radialchart{
    grid-area: radialchart;
}
.composition{
    grid-area: composition;
}