.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    // display: grid;
    // grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
    // grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    // grid-template-areas: 
    // "nav nav nav nav nav"
    // "sidebar main main main main"
    // "sidebar main main main main"
    // "sidebar main main main main"
    // "sidebar main main main main"
    // ;
}